[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "<2.2.0"
gunicorn = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-migrate = "*"
flask-shell-ipython = "*"
flask-rested-jsonapi = "*"
pandas = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
